body {
    height=100%;
    width=100%;
    background:black;
    color:white;
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

.tabs {
    --tabLabelHeight: 30px;
    --tabLabelWidth: 100px;
    --tabBorderWidth: 1px;

    /* the tab labels are anchored here. */
    position: relative;
    /* shift the tab content down by the height of the labels, minus one border width. */
    padding-top: calc(var(--tabLabelHeight) - var(--tabBorderWidth));
}

.tabs > input {
    display: none;
    position: fixed;
}

.tabs > label {
    /* add the border width to the width to prevent "double" borders between adjacent labels */
    width: calc(var(--tabLabelWidth) + var(--tabBorderWidth));
    height: var(--tabLabelHeight);
    line-height: var(--tabLabelHeight);
    overflow: hidden;
    font-weight: bold;
    text-align: center;

    /* this is the tab separator */
    border: var(--tabBorderWidth) solid black;
    box-sizing: border-box;

    /* position tab labels relative to the container. */
    position: absolute;
    top: 0;
}

.tab0 { left: calc(var(--tabLabelWidth) * 0); }
.tab1 { left: calc(var(--tabLabelWidth) * 1); }
.tab2 { left: calc(var(--tabLabelWidth) * 2); }
.tab3 { left: calc(var(--tabLabelWidth) * 3); }
.tab4 { left: calc(var(--tabLabelWidth) * 4); }
.tab5 { left: calc(var(--tabLabelWidth) * 5); }

.tabs > label:hover {
    cursor: pointer;
    background-color: #111;
    -webkit-transition: .2s;
    transition: background-color .2s;
}

.tabs > input:checked + label {
    background-color: #222;
    border-bottom-style: none;
}

.tabs > div {
    background-color: #222;
    padding: 1em;
    border: var(--tabBorderWidth) solid black;
    padding: 5px;
}

.tabs > input:not(:checked) + label + div {
    display: none;
    position: fixed;
}


.devices {

}

.device {
  display: inline-block;
  background-color:#111;
  margin: 5px;
}

.device > h3 {
  margin: 0px;
}

.statusLight {
  background: black;
}

.statusLight#offline {
  background: red;
}

.statusLight#opening {
  background: orange;
}

.statusLight#online {
  background: green;
}

.statusLight#tx {
  background: #1360ff;
}

.statusLight#rx {
  background: blue;
}

.slider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    width: 30px;
    height: 200px;
    background: black;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    outline: none;
    width: 30px;
    height: 10px;
    background: #333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    outline: none;
    width: 30px;
    height: 10px;
    background: #333;
    cursor: pointer;
}

#debug {
  display: none;
}
